<% start_time = DateTime.parse(class_data["StartTime"].to_s) %>
<tr class="hover:bg-gray-50">
  <td class="px-6 py-4 whitespace-nowrap">
    <%= I18n.l(start_time, format: "%a").upcase %><br/>
    <small class="text-gray-500">
      <%= I18n.l(start_time, format: "%b %d").upcase %><br/>
    </small>
  </td>
  <td class="py-4 whitespace-nowrap">
    <%= class_data["Name"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-500">
      <%= DateTime.parse(class_data["StartTime"].to_s).strftime("%H:%M") %>
    </div>
  </td>
    <td class="py-4 whitespace-nowrap">
    <%= class_data["Trainer"].upcase %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button 
      data-action="dashboard#bookClass"
      data-booking-id="<%= class_data['BookingId'] %>"
      data-class-id="<%= class_data["Id"] %>"
      data-club-id="<%= params[:club_id] %>"
      data-next-occurrence="<%= class_data["StartTime"] %>"
      data-class-name="<%= class_data["Name"] %>"
      data-trainer-name="<%= class_data["TrainerName"] %>"
      class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white <%= class_data['BookingId'].blank? ? 'bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' : 'bg-green-600' %>"
    >
      <%= class_data['BookingId'].blank? ? 'Book' : 'Booked' %>
    </button>
  </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <button 
      class="text-gray-500 hover:text-gray-700 debug-button"
      title="Show debug info"
      data-object="<%= class_data.to_json %>"
      data-action="dashboard#showDebugInfo"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
      </svg>
    </button>
  </td>
</tr> 